.border-left{border-left:dotted;}
.border-top{border-top:solid;}
.border-bottom{border-bottom:solid;}
.border-all{border:dotted !important;}
.border-right{border-right:solid;}
.border{
.border-right{border-right:dotted}
}	 